@use "../base/settings" as s;

body {
  background-color: s.$dark;

  .clickable {
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .clickable:hover {
    transform: scale(1.03);
  }
}
