@use "../base/settings" as s;
@use "../utilities/mixins" as m;

main {
  padding: s.$section-padding;
  .name {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    p {
      font-size: 0.95rem;
    }
  }
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    color: s.$light;
    font-size: smaller;
  }
}
