@use "../base/settings" as s;
@use "../utilities/mixins" as m;
@use "sass:color";
.slide-panel {
  position: fixed;
  top: 0;
  right: -100%; /* Start hidden off the right edge */
  width: 80%;
  height: 100vh;
  background: s.$dark;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  padding: 1rem;
  z-index: 1000;
  overflow-y: auto;
}

.slide-panel.open {
  right: 0; /* Slide in from right */
}
.panel-header {
  display: flex;
  flex-direction: row-reverse;
}

.underline {
  width: 100%;
  height: 0.5px;
  background-color: s.$darkgrey;
  margin-top: 1rem;
}

.open-project {
  text-align: center;
  font-family: "Blorado, sans-serif";
  font-size: 16px;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: s.$yellow;
  margin-top: 3rem;
  & a {
    background: none;
    border: none;
    color: s.$darkgrey;
    text-decoration: none;
    cursor: pointer;
    font-weight: 900;
  }
}

.back-button {
  color: s.$darkgrey;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid color(a98-rgb 0.82 0.81 0.81);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition: background 0.2s ease;
}

.close-button:hover {
  background: s.$yellow;
}

.close-button svg {
  width: 16px;
  height: 16px;
}

.overlay {
  position: fixed;
  inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0 */
  background: rgba(0, 0, 0, 0.5); /* dark transparent background */
  z-index: 999; /* sits above the page content */
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 5px;
}

.clickable:hover {
  transform: scale(1.5);
}

.project-summary {
  padding-top: 2.5rem;
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}

ul {
  list-style-type: none; /* Removes default bullets */
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(0, max-content)
  ); /* Columns adjust to content width */
  gap: 0.8rem; /* Space between items */
  justify-content: start; /* Align items to the start */
}

li {
  background: s.$blue;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  white-space: nowrap; /* Prevent line breaks */
  overflow: visible; /* Make sure content shows */
  text-overflow: unset; /* Prevent clipping or ellipsis */
}

.project-links > a {
  color: s.$darkgrey;
  font-weight: 900;
  font-family: "Blorado, sans-serif";
  font-size: 14px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .clickable {
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .slide-panel {
    width: 600px;
  }
  .clickable {
    padding-left: 0;
    padding-right: 0;
  }
}
