@use "../base/settings";

body {
  font-family: settings.$bodyFont;
  color: settings.$dark;
}

h1,
h2,
h3,
h4 {
  font-family: settings.$headingFont;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  color: settings.$light;
  font-family: "Blorado, sans-serif";
}

p,
li {
  line-height: 1.4;
  color: settings.$grey;
  font-size: 14px;
  font-family: "Blorado, sans-serif";
}

a {
  color: settings.$blue;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}
